/*html,body,*{
	margin:0;
	padding: 0;
}*/

.bloque1{
	background: red;
	min-height: 500px;
}

.bloque2{
	background: green;
	min-height: 500px;
}

.bloque3{
	background: blue;
	min-height: 500px;
}

.logosite{
	background-color: #f7c600;
	padding: 20px;
	text-align: center;
}

.anuncioder{
    text-align:right;    
    /*max-width: 180px;*/
}

.anuncioizq{
    /*max-width: 180px;*/
}

.fijoanuncioizq{
    top:5;
    left:5;
    position: fixed; 
}

.fijoanuncioder{
    right: 0;
    top:0;
    //left:-175;
    position: fixed;
    width:170px;
    /*width:170px;
	margin-left:auto;
  	margin-right:auto;*/
}

.left{
    float:left;
}

.centro{
	text-align:center;	
}
.anunciosup{
	text-align: center;	
}


 .menu-sup{
    border-color: #ebebeb;
    border-style: solid;
    border-width: 1px 1px 0;
    height: 36px;

}

.menu-sup .tendencia{
    border-right: 1px solid #ebebeb;
    float: left;
    width: 318px;
    display: block;
    -webkit-padding-start: 0px;
     list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

 .menu-sup .tendencia .tendencia-titulo {
    color: #9e9e9e;
    display: block;
    float: left;
    font: 700 11px/35px "Open Sans";
    padding-left: 15px;
    text-transform: uppercase;
    width: 60px;
}

.menu-sup .tendencia .tendencia-contenido {
    margin-left: 60px;
    display: block;
}

.tendencia-carrusel{
	color: #9e9e9e;
}

.tendecia-item{
	display: block;
	float: left;
    position: relative;
    line-height: 34px;
    margin-right: 15px;
    color: #9e9e9e;
    font: 11px/34px "Open Sans";
}

/**/

a{
	text-decoration: none;
}

a:visited {
    color: #9e9e9e;
}

.menu-sup .opciones{
    display: block;
    float: right;
    -webkit-padding-start: 0px;
     list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.opciones-item{
	display: block;
	float: left;
    position: relative;
    line-height: 34px;
    /*margin-right: 15px;*/
    color: #9e9e9e;
    border-right: 1px solid #ebebeb;
    font: 700 11px/34px "Open Sans";
    text-align: center;
    text-transform: uppercase;
    width: 97px;
}
.redes ul{
	-webkit-padding-start: 0px;
	text-align: center;
	 list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.redes-item{
	margin-right: 15px;
    color: #9e9e9e;
    font: 11px/34px "Open Sans";
    text-align: center;
    text-transform: uppercase;    
}

.redes-item-f{
	color: #9e9e9e;
    font: 11px/34px "Open Sans";
    text-align: center;
    text-transform: uppercase; 	
}

.opciones-buscador {
    display: block;
	float: left;
    position: relative;
    line-height: 34px;
    margin-right: 15px;
    color: #9e9e9e;
    font: 700 11px/34px "Open Sans";
    text-align: center;
    text-transform: uppercase;
    width: 60px;
}

/**/

.menu-sitio{
	text-align: center;
}
.menu-sitio .menu-principal {
    display: inline-block;
    vertical-align: middle;
    -webkit-padding-start: 0px;
     list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.menu-sitio .menu-principal .link-menu {
    display: inline-block;
    font: 15px "ChronicleDisplayBold";
    padding: 0 13px 0 5px;
    position: relative;
    vertical-align: middle;
    color:#333;

}

.menu-sitio .menu-principal .link-menu a{
    color:#333;
    display: block;
    padding: 13px 0;
}
 
.noticia-principal{
	position: relative;
}

.noticia-principal .noticia-principal-detalle {
    border: 0;
    bottom: 0;
    height: auto;
    position: absolute;
    width: 360px;
    z-index: 2;
    
}

.noticia-principal .noticia-principal-detalle .titulo {
    color: #fff;
    display: inline-block;
    font-family: "ChronicleDisplaySemibold";
    font-size: 26px;
    padding: 8px 0;
    position: relative;
    margin-left: 10px;
}

.noticia-principal .noticia-principal-detalle a {
    color: #fff;
}

.noticia-principal .noticia-principal-detalle .detalle {
    color: #fff;
    display: inline-block;
    font-family: "ChronicleDisplaySemibold";
    font-size: 26px;    
    padding: 0;
    margin-left: 10px;
}

.noticia-principal .noticia-principal-detalle .autor {
    color: #fff;
    display: inline-block;
    font-family: "ChronicleDisplaySemibold";
    font-size: 10px;
    position: relative;
    text-transform: uppercase;
    margin-left: 10px;    
}

.flow-1x1, .flow-1x2, .flow-2x1, .flow-2x2 {
	display: block;
    border-color: #d5e1e1;
    border-style: solid;
    border-width: 1px 0 0 1px;
    float: left;
    padding: 5px;
}

.mini-flow {
    border-bottom: 1px solid #d5e1e1;
    margin: 0 -5px!important;
    padding: 15px 18px 10px 15px!important;
    position: relative;
    width: auto!important;
}

.mini-flow .mini-flow-detalle{
	font-family: "ChronicleDisplaySemibold";
    font-size: 13px;
    
}


.mini-flow .autor {
    font-family: "ChronicleDisplaySemibold";
    font-size: 10px;
    text-transform: uppercase;    
}


.flows-grid {
    border-color: #d5e1e1;
    border-style: solid;
    border-width: 0 1px 0 0;
    margin: 0 auto;
    position: relative;
}

.contenedor{
	max-width: 884px;
}

figure img{
	width: 100%;
}
